<h3 >
  <b>Employee Details</b>
</h3>
 
 <h4>Employee ID : {{ (employ  | async)?.empId }}</h4>
<table border="2" align="center">
<tr>
<th>Name:</th>
<th>Email:</th>
<th>Mobile:</th>
<th>Date of Joining:</th>
<th>LeaveBal:</th>
<th>Dept:</th>
<th>MgrId:</th>
</tr>
<tr>
  <th>
{{(employ | async)?.empFullName}}
  </th>
<th>
    {{(employ | async)?.empEmail}}
    </th>
    
    <th>
    {{(employ | async)?.empMobile}}
    </th>
    
    <th>
    {{(employ | async)?.empDOJ}}
    </th>
    
    <th>
    {{(employ | async)?.empLeaveBal}}
    </th>
    
    <th>
    {{(employ | async)?.empDepart}}
    </th>
    
    <th>
    {{(employ | async)?.mgrId}} 
    </th>

</tr>


</table>

 
